/* header {
    position: unset;
} */

body{
    background-image: url(../images/burgundy-gold-pixilate-in.gif);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container-fluid {
    margin-top: 100px;
}